<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
    <!--Nav bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">LOOP</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <h1><%= user_email %></h1>

    <!-- Post item section -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Post Item</h3>
        </div>
        <div class="panel-body">
            <section>
                <form enctype="multipart/form-data" action="/users/itempost" method="post">
                    <div class="form-group row">
                        <label for="example-text-input" class="col-xs-2 col-form-label">Item</label>
                        <div class="col-xs-10">
                            <input class="form-control" type="text" name="item" id="example-text-input" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-number-input" class="col-xs-2 col-form-label">Price</label>
                        <div class="col-xs-10">
                            <input class="form-control" type="number" name="price" id="example-number-input" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-xs-2 col-form-label">Contract Info</label>
                        <div class="col-xs-10">
                            <input class="form-control" type="search" name="contract_info"  id="example-search-input" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleSelect1" class="col-xs-2 col-form-label">Type</label>
                        <div class="col-xs-10">
                            <select class="form-control" name="type" id="exampleSelect1" required>
                                <option>Food</option>
                                <option>Used Item</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleTextarea" class="col-xs-2 col-form-label">Description</label>
                        <div class="col-xs-10">
                            <textarea class="form-control" name="description" id="exampleTextarea" rows="3" required></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-2 col-form-label">Upload image:</label>
                        <input type="file" name="userPhoto" multiple required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </section>
        </div>
    </div>
    <br>

    <!--User's item feed-->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Posted Items</h3>
        </div>
        <div class="panel-body">
            <% data.forEach(function (feed) { %>
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object" src="/images/<%= feed.image_name%>" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><%= feed.item %></h4>
                    <%= feed.description %>
                </div>
            </div>
            <hr>
            <% }) %>
        </div>
    </div>
</body>

</html>