a {
  color: #00B7FF;
}

.stylish-input-group .input-group-addon{
  background: white !important;
}
.stylish-input-group .form-control{
  border-right:0;
  box-shadow:0 0 0;
  border-color:#ccc;
}
.stylish-input-group button{
  border:0;
  background:transparent;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.thumbnail{
  width: 300px;
  height: 400px;
}

.desc {
  word-wrap: break-word;
  width: 360px;
}

.media{
  width: 800px;
  height: 200px;
}

img{
  width: 150px;
  height: 150px;
}